body {
	padding: 0px;
	margin: 0px;
}
nav	{
	height: 70px;
	background-color: #e6e6e6;
	/* color: #1a1a1a; */
	color: #282930;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	position: fixed;
	top: 0px;
	width: 100%;
}
nav a {
	color: #282930;	
	/* color: #1a1a1a; */
	text-decoration: none;
}
.logo {
	position: relative;
	top: 30%;
	font-size: 28px;
	float: left;
	margin-left: 10px;
}
nav ul {
	list-style-type: none;
	float: right;
	margin-right: 20px;
}
nav li {
	display: inline;
	margin-left: 15px;
}
form {
	vertical-align: middle;
	padding:20px;
}
div.searchbox {
	margin-top: 200px;
	width: 100%;
}
input.search_icon {
	padding: 0px;
	height: 38px;
	width: 40px;
	margin-left: 0px;
	margin-bottom: 5px;
	border: 1px solid lightgray;
	border-radius: 3px;
	vertical-align: middle;
}
div.searchbox form {
	margin-top: 200px;
	height: 65px;
	width: 100%;
}

input {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-left: 50px;
	padding-left: 20px;
	margin-bottom: 20px;
	height: 40px;
	width: 350px;
}
input.searchbox {
	width: 75%;
	border: 1px solid lightgray;
	border-radius: 3px;
}
div.controls {
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	padding-left: 15px;
	margin-left: 100px;
	width: 350px;
	height: 50px;
	/*border: 1px solid lightgray; */
	display: inline-block;
}
.prev-lst {
	border: 1px solid lightgray;
	border-radius: 3px;
	text-align: center;
	margin-top: 12px;
	display: inline-block;
	width: 23%;
	height: 30px;
	line-height: 30px;
}
.curr-lst {
	border: 1px solid lightgray;
	border-radius: 3px;	
	text-align: center;	
	margin-top: 12px;
	display: inline-block;
	width: 50%;
	height: 30px;
	line-height: 30px;
}
.next-lst {
	border: 1px solid lightgray;
	border-radius: 3px;	
	text-align: center;
	margin-top: 12px;
	display: inline-block;
	width: 23%;
	height: 30px;
	line-height: 30px;
}
ul.job-list {
	list-style: none;
	font-family: 'Rotobo', sans-serif;
	font-size: 22px;
}
ul.job-list li {
	padding: 10px;
}
span.date, span.location {
	padding: 20px;
	color: gray;
	font-weight: bold;
}
a.job-desc {
	font-weight: bold;
	color: blue;
}